/*
🟡 layout.css

Page structure

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}


.section {
  padding-block: 5rem;
}


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

✔ grid
✔ flex layout
✔ section spacing
*/





.size-6{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background: transparent;
  color: var(--NavTextColor);
  position: relative;
  z-index: 4;
  cursor: pointer;
  display: inline-flex;
}